{% ckan_extends %}

{% block content_primary_nav %}

  {% if c.group_dict %}
    {{ h.build_nav_icon('organization.read', _('Datasets'), id=c.group_dict.name, icon='sitemap') }}
  {% endif %}

  {% if c.userobj %}
    {% if c.group_dict %}
      {{ h.build_nav_icon('activity.organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0, icon='clock') }}
      {{ h.build_nav_icon('organization.about', _('About'), id=c.group_dict.name, icon='info-circle') }}
    {% endif %}
  {% endif %}
{% endblock %}
