/* ************************************************
 *全体
* ************************************************ */
body {
  //background: #fff url("../../../base/images/bg.png");
  background: #fff;
  //background: url("../../../base/images/bg.png");
  font-family:arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  font-size: 14px;
  color: #444;
  line-height: 1.8;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px;
}

.span12 {
  width: 960px;
}

/* ************************************************ 
 *ヘッダー
* ************************************************ */

#header {
width: 100%;
background: #fff;
}

.header-inner {
overflow: hidden;
margin: 0px auto 0 auto;
padding: 15px 0 10px 0;
max-width: 960px;
_width: 960px;
}

#header h1 {
text-align:center;
margin: 0;
}

.logo {
float: left;
margin: 0px 0px 0px 0px;
padding: 10px 0 0 0;
}


/* ************************************************ 
 *topinfo
 * *************************************************/
.topinfo {
float: right;
position:relative;
margin: 0;
padding: 0;
}

#infonav {
width:400px;
text-align: right;
}

#infonav ul {
list-style: none;
margin: auto;
}

.info-navigation {
clear: both;
margin: 0 auto;
position: relative;
}

ul.info-navi,
div.info-navi > ul {
margin: 0;
padding: 0;
}

.info-navi li {
display: inline-block;
position: relative;
margin: 0 0;
}

.info-navi li a {
color: #fff;
display: block;
font-size: 100%;
text-decoration: none;
padding: 5px 12px;
background: #42bee2;
}

.info-navi li:hover > a,
.info-navi li a:hover {
background-color: #79d9f5;
}


ul.info-navi ul a,
.info-navi ul ul a {
color: #fff;
margin: 0;
width: auto;
}

ul.info-navi ul a:hover,
.info-navi ul ul a:hover {
background-color: #79d9f5;
}

ul.info-navi li:hover > ul,
.info-navi ul li:hover > ul {
display: block;
}

.info-navi .current_page_item > a,
.info-navi .current_page_ancestor > a,
.info-navi .current-menu-item > a,
.info-navi .current-menu-ancestor > a {
color: #fff;
background: #79d9f5;
}

/* ************************************************ 
 *トップナビゲーション
 * ************************************************ */
.nav_wrap {
    width: 100%;
    background: #42bee2;
}

#nav {
width:960px;
margin: 0 auto;
}

#nav ul {
list-style: none;
margin: auto;
}

.main-navigation {
clear: both;
margin: 0 auto;
position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
margin: 0;
padding: 0;
}

.nav-menu li {
display: inline-block;
position: relative;
margin: 0 0;
}

.nav-menu li a {
color: #fff;
display: block;
font-size: 100%;
text-decoration: none;
padding: 12px 18px;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
background-color: #79d9f5;
}

.nav-menu .sub-menu,
.nav-menu .children {
background-color: #79d9f5;
display: none;
padding: 0;
position: absolute;
z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
border-left: 0;
left: 100%;
top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
color: #333;
margin: 0;
width: 100px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
background-color: #79d9f5;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
color: #fff;
background: #79d9f5;
}

/* ************************************************ 
 *サイドバー
 * ************************************************ */

#sidebar {
width: 100%;
margin: 0 0px 40px 0px;
padding: 0 0 0 0;
}

#sidebar p{
margin-bottom: 20px;
}

#sidebar h2 {
font-family:arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
font-size: 93%;
font-weight: normal;
color: #999;
letter-spacing: 0.1em;
margin: 0px 0px 10px 0px;
padding: 0 0 0 0;
background: url() no-repeat;
border-bottom:1px solid #ccc;
}

.sidebar-title{
font-family:arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
color: #333;
font-size: 123.1%;
font-weight: bold;
letter-spacing: 0.05em;
font-style:normal;
margin: 0px 0px 10px 0px;
padding: 0 0 3px 0;
background: url() no-repeat;
border-bottom:1px solid #ccc;
}

.sidebar-title2{
font-family:arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
color: #fff;
font-size: 108%;
font-weight: bold;
letter-spacing: 0.05em;
font-style:normal;
margin: 10px 0px 0 0px;
padding: 0 0 3px 0;
background: url() no-repeat;
border-bottom:0px solid #ccc;
}

#sidebar h3 {
font-family:arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
font-size: 100%;
font-weight: normal;
color: #999;
line-height: 30px;
margin: 0 0 0 0;
padding: 0 0 0 0;
border-bottom:0px solid #ccc;
}

#sidebar ul{
margin: 0 0 0 0;
padding: 0 0 0 0;
}

#sidebar li{
font-size: 93%;
margin: 0 0 0 0;
padding: 0 0 0 0;
list-style: none;
border-bottom: 1px dotted #ccc;
}

#sidebar li a{
display:inline;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
-ms-transition: 0.5s;
}

#sidebar li a:hover{
}


/* 階層表示 */

#sidebar ul.children{
margin-bottom: -6px;
display: block;
padding: 5px 0 0 0;
}

#sidebar ul.children li{
padding-left: 15px;
padding-top: 5px;
border-top: 1px dotted #ccc;
border-bottom: 0px dotted #ccc;
}


#sidebar ul.sub-menu{
margin-bottom: -6px;
display: block;
padding: 5px 0 0 0;
}

#sidebar ul.sub-menu li{
padding-left: 15px;
padding-top: 5px;
border-top: 1px dotted #ccc;
border-bottom: 0px dotted #ccc;
}


/* 新着表示 */

#sidebox-new {
color:#666;
margin: 0 0 50px 0 ;
padding: 0 0 0 0 ;
}

#sidebox-new ul{
floate:left;
margin: 0 0 0 0;
padding: 0 0 0 0;
background: #fff;
}

#sidebox-new li{
    font-size: 100%;
    list-style: none;
    margin: 0 0 0 0;
    padding: 10px 0 10px; 
    border-bottom: 1px dotted #e1e1e1;
}

#sidebox-new li a{
color:#666;
list-style: none;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
-ms-transition: 0.5s;
text-decoration: none;
}

#sidebox-new li a:hover{
color:#999;
}


.side_fb {
    width: 90%;
    border: 1px solid #000;
    padding: 5%;
}

/* ************************************************ 
 *Powerdエリア
 * ************************************************ */
#powerd {
    background: #42bee2;
    clear:both;
    width:100%;
    margin: 0 auto;
    padding: 25px 0;
    color: #fff;
}

.powerd-inner {
    margin: 0px auto;
    max-width: 960px;
    _width: 960px;
}

#pwbox{
    margin: 0;
    padding: 0;
}

#pwbox ul{
    floate:left;
    margin: 0;
    padding: 0;
}

#pwbox li{
    floate:left;
    margin: 0;
    padding: 3px 0px 2px 0px;
    list-style: none;
}

#pwbox li a{
    font-size:12px;
    color:#fff;
    margin: 0;
    padding: 3px 0px 2px 0px;
    list-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

#pwbox li a:hover{
    color:#fff;
}

#pwbox h2{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #fff;
}

#pwbox h3{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 0px dotted #fff;
    border-bottom: 0px dotted #fff;
}

#pwbox h4{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #fff;
}

#pwbox ul.children{
    margin-bottom: 0px;
    display: block;
    padding: 5px 0 0 0;
}

#pwbox ul.children li{
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}

#pwbox ul.sub-menu{
    margin-bottom: 0px;
    display: block;
    padding: 5px 0 0 0;
}

#pwbox ul.sub-menu li{
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}

/* ************************************************ 
 *フッターエリア
 * ************************************************ */
#footerLink {
    background: #fff;
    clear: both;
    width:100%;
    margin: 30px auto 0 auto;
    padding: 15px 0;
    color: #000;
}

#footerLink a:link { color: #000; text-decoration: underline; }
#footerLink a:visited { color: #000; text-decoration: underline; }
#footerLink a:hover { color: #000; text-decoration: none; }
#footerLink a:active { color: #000; text-decoration: underline; }

#footerLink ul li {
    display: inline;
    margin: 0 15px 0 0;
}

.footer-inner {
margin: 0px auto;
max-width: 960px;
_width: 960px;
}

#footer {
background: #ffffff;
clear:both;
width:100%;
margin: 0 auto;
padding: 25px 0 10px 0;
color: #fff;
}

#footer a:link { color: #333; text-decoration: none; }
#footer a:visited { color: #333; text-decoration: none; }
#footer a:hover { color: #333; text-decoration: underline; }
#footer a:active { color: #333; text-decoration: none; }


#copyright {
    width: 100%;
    background: #eae6e7;
    color:#999;
    text-align:center;
    position: relative;
    margin: 0;
    padding: 15px 0;
}


