<!-- Powerdエリア -->
<div id="powerd">
<div class="powerd-inner">

<!-- フッターウィジェット -->
<div class="row">
<article class="half">
<div id="pwbox">
  <div id="text-2" class="widget widget_text"><div class="sidebar-title2">HOSTED BY</div><div class="textwidget"><a href="https://www.bodik.jp/" target="_blank"><img src="https://odcs.bodik.jp/images/footer/footlogo.png" alt="ビッグデータ&オープンデータ・イニシアティブ九州" class="alignleft"></a>
<span class="alignleft white">ビッグデータ&オープンデータ・イニシアティブ九州<br />
〒814-0001 福岡市早良区百道浜2-1-22-7F<br />
公益財団法人九州先端科学技術研究所<br />
TEL:092-852-3510 FAX:092-852-3455</span></div>
    </div></div>
</article>
<article class="fifth">
<div id="pwbox">
  <div id="text-3" class="widget widget_text"><div class="sidebar-title2">POWERED BY</div><div class="textwidget"><a href="https://ckan.org" target="_blank"><img src="https://odcs.bodik.jp/images/footer/ckan_logo.png" alt="ckan"></a>
</div>
    </div></div>
</article>
<article class="fifth">
<div id="pwbox">
  <div id="text-4" class="widget widget_text"><div class="sidebar-title2">POWERED BY</div><div class="textwidget"><a href="https://ja.wordpress.org/" target="_blank"><img src="https://odcs.bodik.jp/images/footer/wp_logo.png" alt="wordpress"></a></div>
    </div></div>
</article>
</div>
<!-- / フッターウィジェット -->
<div class="clear"></div>

</div>
</div>
<!-- / Powerdエリア -->


<!-- フッターエリア -->


<!-- フッターウィジェット -->


<!-- / フッターウィジェット -->

<div class="clear"></div>

</div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}

</footer>
<!-- / フッターエリア -->
