{% ckan_extends %}

{{ super() }}

      {% block description %}
      {% if organization.description %}
        <p>
          {{ h.markdown_extract(organization.description, 180) }}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
      {% endif %}
      {% endblock %}

        {% block nums %}
        <div class="nums">
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Resource') }}</dt>
            <dd>{{ h.SI_number_span(h.bodik_theme_resource_count(organization.name)) }}</dd>
          </dl>
        </div>
        {% endblock %}
